<%= form_for @new_activity, html: {class: "activity-form"} do |f| %>
	<%= f.hidden_field :category, value: "activity", class: "hidden" %>
	<div class="form-group row">
		<%= f.label :title, class: "col-md-2 col-form-label" %>
		<div class="col-md-8">
			<%= f.text_field :title, class: "title form-control" %>
		</div>
	</div>

	<div class="form-group row">
		<%= f.label :description, class: "col-md-2 col-form-label" %>
		<div class="col-md-8">
			<%= f.text_area :description, class: "description form-control" %>
		</div>
	</div>

	<%= f.button %>
<%end%>