<%= form_for @new_activity, html: {class: "activity-form"} do |f| %>
	<%= f.hidden_field :category, value: "Testing hidden field", class: "hidden" %>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title, class: "title" %>
	</div>

	<div>
		<%= f.label :description %><br>
		<%= f.text_area :description, class: "description" %>
	</div>

	<%= f.button %>
<%end%>