<%= form_for @my_photo, html: {class: "photo-form", multipart: true} do |f| %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title, class: "ptitle" %>
	</div>

	<div>
		<%= f.label :image %>
		<%= f.file_field :image, class: "image" %>
	</div>

	<%= f.button 'Upload' %>
<%end%>