<div class = "container">
	<%= form_for @my_trip, html: {id: "js-trip-form"} do |f| %>
		<h3>Trip Details</h3>
		<div>
			<%= f.label :location %><br>
	  		<%= f.text_field :location, id: 'location' %>
	  	</div>

	  	<div>
	  		<%= f.label :rating %><br>
	  		<%= f.number_field :rating, in: 1..10 %>
	  	</div>

	  	<div>
	  		<%= f.label :start_date %><br>
	  		<%= f.date_field :start_date %>
	  	</div>

	  	<div>
	  		<%= f.label :end_date %><br>
	  		<%= f.date_field :end_date %>
	  	</div>

	  	<div>
	  		<%= f.label :summary %><br>
	  		<%= f.text_area :summary %>
	  	</div>

	  	<%= f.button %>
	<% end %>
	<div id="js-activities-form" class="hide">
		<h3>Go ahead! Add some activities!</h3>
		<div>
			<p class="js-actlink" >+ Add Activity</p>
			<div class= "actform hide" data-category="activity">
				<%= render "activityform" %>
			</div>
		</div>
		<div>
			<p class = "js-actlink" >+ Add Cultural</p>
			<div class = "actform hide" data-category="cultural">
				<%= render "activityform" %>
			</div>
		</div>
		<div>
			<p class = "js-actlink" >+ Add Music</p>
			<div class = "actform hide" data-category="music">
				<%= render "activityform" %>
			</div>
		</div>
		<div>
			<p class = "js-actlink" >+ Add Adventure</p>
			<div class = "actform hide" data-category="adventure">
				<%= render "activityform" %>
			</div>
		</div>
		<div>
			<p class = "js-actlink" >+ Add Nature</p>
			<div class = "actform hide" data-category="nature">
				<%= render "activityform" %>
			</div>
		</div>
		<div>
			<p class = "js-actlink" >+ Add Educational</p>
			<div class = "actform hide" data-category="education">
				<%= render "activityform" %>
			</div>
		</div>
		<div>
			<p class = "js-actlink">+ Add Photos</p>
			<div class = "hide">
				<%= render "photoform" %>
			</div>
		</div>
		<%= link_to "I'M DONE!", trip_path(Trip.last.id + 1)%>
	</div>
	

</div>
