<div class="show-container">
	<div id="show-location">
		<h3><%= @my_trip.location %>
		<span><small><%= @my_trip.rating %></small></span></h3>
	</div>

	<div id="dates">
		<% if @my_trip.start_date != nil %>
			<%= @my_trip.start_date.strftime( "%b. %d, %Y") %> - 
		<%end%>
		<% if @my_trip.end_date != nil %>
			<%= @my_trip.end_date.strftime( "%b. %d, %Y") %>
		<%end%>
	</div>

	<div id="show-images">
		<div id="main-image">
			<% if @my_trip.photos.length > 0 %>
				<%= image_tag(@my_trip.photos[0].image.url, class: "img-responsive", id: "main-show") %>
			<%end%>
		</div>
		<div id="scrollbar-images">
			<% @my_trip.photos.each do |photo| %>
				<%= image_tag(photo.image.url, class: "img-responsive thumb") %>
			<%end%>
		</div>
	</div>

	<section>
		<div id="activities" class="left">
			<h4>Activities</h4>
			<% @my_trip.activities.each do |activity| %>
				<div>
					<p class="activity">
						<p class="act-title"><%= activity.title %></p>
						<p class="activity-description hide" > <%= activity.description %></p>
					</p>
				</div>
			<%end%>
		</div>
		<div id="summary" class="left">
			<div id="closeout" class="hide">X</div>
			<div id="orig-sum">
				<h4>Summary</h4>
				<%= @my_trip.summary %>
			</div>
			<div id="new-sum"></div>
		</div>
	</section>
</div>
