<h1>show</h1>

<%= @my_trip.location %>
<%= @my_trip.rating %>
<%= @my_trip.start_date %>
<%= @my_trip.end_date %>
<%= @my_trip.summary %>
<h3>Activities</h3>
<% @my_trip.activities.each do |activity| %>

	<%= activity.title %>
	<%= activity.category %>
	<%= activity.description %>
<%end%>

<% @my_trip.photos.each do |photo| %>
	<%= image_tag(photo.image.url(:medium)) %>
<%end%>