<div class="show-container">
	<div id="show-location">
		<h3><%= @my_trip.location %></h3>
		<%= @my_trip.rating %>
	</div>

	<div id="dates">
		<%= @my_trip.start_date %>
		<%= @my_trip.end_date %>
	</div>

	<div id="show-images">
		<% @my_trip.photos.each do |photo| %>
			<%= image_tag(photo.image.url(:medium)) %>
		<%end%>
	</div>




	<section>
		<h3>Activities</h3>
		<% @my_trip.activities.each do |activity| %>

			<%= activity.title %>
			<%= activity.category %>
			<%= activity.description %>
		<%end%>
		<%= @my_trip.summary %>
	</section>
</div>
