<div class="show-container">
	<div id="show-location">
		<h3><%= @my_trip.location %>
		<span><small><%= @my_trip.rating %></small></span></h3>
	</div>

	<div id="dates">
		<%= @my_trip.start_date.strftime( "%b. %d, %Y") %> - 
		<%= @my_trip.end_date.strftime( "%b. %d, %Y") %>
	</div>

	<div id="show-images">
		<% @my_trip.photos.each do |photo| %>
			<%= image_tag(photo.image.url(:medium)) %>
		<%end%>
	</div>

	<section>
		<div id="activities" class="left">
			<h4>Activities</h4>
			<% @my_trip.activities.each do |activity| %>
				<div>
					<p class="activity">
						<p class="act-title"><%= activity.title %></p>
						<p class="activity-description hide" > <%= activity.description %></p>
					</p>
				</div>
			<%end%>
		</div>
		<div id="summary" class="left">
			<h4>Summary</h4>
			<%= @my_trip.summary %>
		</div>
	</section>
</div>
