
<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group row"">
    <%= f.label :email, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group row"">
    <%= f.label :password, class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</div>